@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');

body {
  /* background-color: #F1F1F1; */
  background-color: #081b33;
}
.main {
  position: relative;
  margin: 20px 0 0 0;
}

.content {
  display: flex;
  justify-content: center;
  color: #46EF0B;
  position: relative;
  margin: 20px 0 0 0;
}

.search-results {
  color: #46EF0B;
  font-family: 'Shadows Into Light Two', cursive;
}

#title {
  display: block;
  font-size: 70px;
  font-family: 'Shadows Into Light Two', cursive;
  letter-spacing: 4.5px;
  color: #46EF0B;
  text-align: center;
}
.main-search {
  background: transparent;
  width: 600px;
  height: 50px;
  border: 2px solid #46EF0B;
  border-radius: 7px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#search {
  width: 512px;
  height: 40px;
  margin: 0 0 0 5px;
  background: transparent;
  color: #A7A7A7;
  border: none;
  outline: none;
  font-size: 18px;
}
::placeholder {
  color: #A7A7A7;
}
.btn {
  width: 70px;
  height: 100%;
  background: #a0f161;
  color: black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover, .lens:hover, .handle:hover {
  background-color: #46EF0B;
  transition: all 0.3s ease-in-out;
}

.magnifying {
  position: relative;
}
.lens {
	height:15px;
	width: 15px;
	border: 2px solid #0a0a0a;
	border-radius: 100%;
	position: relative;
	top: 2px;
}
.handle {
	height:12.2px;
	width: 2px;
	background-color: #0a0a0a;
	position: relative;
	top: -1px;
	left: 17px;
	transform: rotate(-36deg);
}
#desc {
  display: block;
  text-align: center;
  color: #2BD885;
  font-family: 'Shadows Into Light Two', cursive;
  margin: 80px 0 0 0;
}
.count {
  width: 100px;
  height: 40px;
  background: linear-gradient(to bottom, #A3FF2E, #46EF0B);
  box-shadow: 0px 4px 6px #635F5F;
  border-radius: 20px;
  position: absolute;
  top: 20px;
  right: 50px;
  color: black;
  padding: 5px;
  font-family: 'Shadows Into Light Two', cursive;
  text-align: center;
}

.count:hover {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.blog {
  border: 1px solid #46EF0B;
  /* text-align: center; */
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-bottom: 10px;
}

.blog:hover {
  border: 5px solid #2BD885;
  transition: all 0.1s linear;
  box-shadow: 2px 2px 6px #635F5F;
}

.tags {
  background-color: #46EF0B;
  color: #0a0a0a;
  padding: 5px;
  /* font-size: 16px; */
}

.current-blog {
  font-family: 'Shippori Mincho B1', serif;
  padding: 10px;
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
}

.current-title {
  font-family: 'Shippori Mincho B1', serif;
  font-size: 20px;
  margin-bottom: 2%;
}

.current-author {
  font-family: 'Manrope', sans-serif;
  color: #d3d3d3;
  /* font-style: italic; */
}

.read-time {
  font-family: 'Manrope', sans-serif;
  color: #d3d3d3;
}

.modal-content {
  background-color: rgba(8, 27, 51, 0.9);
  color: #fff;
}

a,a:link {
  color: #46EF0B;
}

a:hover {
  color: #2BD885;
}

.search-history {
  color: #46EF0B;
}

#show{display: block;}
#hide{display: none;}
